.first-heading{
    color: white;
    
    height: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px; 
    padding-top: 20px;
}
button{
    background-color: black;
    color: white;
    margin-left: 20px;
    margin-bottom: 50px;
}

.bx-emp{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bx-emp1{
    background-image: linear-gradient(to bottom, rgb(176, 174, 174),rgb(12, 12, 16));
}